/*  global variables to apply styling */

:root {
    --max-width: 1350px; 
    --color-secondary: #0c2513;
    --color-primary: #70f86e;
  }

  

  body {
      margin: 0;
      font-family: 'Futara', sans-serif;
      background-color: var(--color-secondary);
    }
    
    code {
      font-family: Futara,
        monospace;
    }
  
  .App {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
  }